name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build-java:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          java-version: "25"
          distribution: "temurin"
          cache: maven

      - name: Build and Test with Maven
        run: mvn clean package --file demo-app/pom.xml

      - name: Upload JAR
        uses: actions/upload-artifact@v4
        with:
          name: app-jar
          path: demo-app/target/*.jar

  deploy-docker:
    needs: build-java
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Download JAR
        uses: actions/download-artifact@v4
        with:
          name: app-jar
          path: demo-app/target/

      - name: Build Docker Image locally
        uses: docker/build-push-action@v5
        with:
          context: ./demo-app
          push: false
          load: true
          tags: math208/demo-app:latest

      - name: Scan Docker Image with Trivy
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: math208/demo-app:latest
          format: "table"
          exit-code: "1"
          severity: "CRITICAL"

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: ./demo-app
          push: true
          tags: math208/demo-app:latest
