name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 25
        uses: actions/setup-java@v5
        with:
          java-version: '25'
      - name: Build and Test with Maven
        run: mvn clean install --file demo-app/pom.xml
